body {
  display: flex;
  margin-top: 20px;

  .content {
    margin-left: 80px;
  }

  #graph-container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;

    .axis {
      position: absolute;
      background-color: #000;
    }

    .x-axis {
      width: 100%;
      height: 1px;
      left: 0;
      bottom: calc(50% - 0.5px);
    }
    
    .y-axis {
      width: 1px;
      height: 100%;
      left: calc(50% - 0.5px);
      bottom: 0;
    }
  }
}



